
@{
    ViewBag.Title = "NoPermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-size:40px;color:red;font-style:normal;text-align:center;padding-top:200px;">You do not have Permission
    to this page</h2>

